* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Black Han Sans", sans-serif;
  font-family: "Merriweather", serif;
}
body {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  color: #333;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.px-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}
.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
