main {}

.wrapper {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 20rem));
  justify-content: center;
  // @include mq {
  //   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  // }
}

.card {
  display: flex;
  flex-direction: column;
  color: #333;
  box-shadow: 0 4px 8px 0 rgba(#000, 0.3);
  border-radius: 20px;
  overflow: hidden;

  img {
    object-fit: cover;
  }

  .card-body {
    padding: 30px;

    h3 {
      margin-bottom: 10px;
    }

    ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      li {
        background-color: rgba(#333, .3);
        padding: .3rem;
        margin: .3rem;
        border-radius: 1rem;
        font-size: 13px;
        box-shadow: 3px 3px 3px rgba(#333, .3);
        color: #333;
        font-weight: normal;
      }
    }
  }

  a {
    color: cornflowerblue;
  }
}