.nav {
    font-weight: 700;
    border-bottom: 1px solid rgba(#333, .1);

    &-toggler {
        position: absolute;
        top: 17px;
        right: 0;
        margin: 0 1rem;
        cursor: pointer;

        @include mq(560px) {
            display: none;
        }

        .menu {
            margin-top: .2rem;
        }

        .close {
            display: none;
        }
    }

    &-checkbox {
        display: none;
    }

    &-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin: 1rem;

        @include mq(560px) {
            flex-direction: row;
        }

        li {
            display: none;

            @include mq(560px) {
                display: block;
            }

            &:first-child {
                margin-right: auto;
                display: block;
            }

            a {
                font-size: 1.2rem;
                display: flex;
                align-items: center;
                img {
                    width: 2rem;
                    border-radius: 10px;
                    margin-right: 10px;
                }
            }
        }

    }
}

#nav-checkbox:checked~ul.nav-menu li {
    display: block;
}

#nav-checkbox:checked~label.nav-toggler .close {
    display: block;
}

#nav-checkbox:checked~label.nav-toggler .menu {
    display: none;
}